<div class="container">
  <p>Your information</p>

  <p>Name : <%= session[:user].name %></p>
  <p>Email : <%= session[:user].email %></p>
  <p><a href="/password">Password</a></p>

  <h2><a href="/logout">LOGOUT</a></h2>
</div>
